extends layout

block page_title
  title Première app: Bonjour le monde

block greeting
  h1 Bonjour le monde!

block first_app
  p Voici ma première app!
  img(src="images/earth.jpg" alt="La planète Terre" title="La planète Terre")