doctype html 

html(lang="en-US")
  head
    title My Contacts Manager 
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body 
    header 
      h1 My Contacts Manager 

    if errorMessagesArr && errorMessagesArr.length > 0
      ul.flash 
        each message in errorMessagesArr
          li.error=message
    main 
      block content