extends layout 

block content 
  h2 Create new contact
  form(action="/contacts/new" method="post")
    fieldset
      dl
        dt 
          label(for="firstName") First name:
        dd 
          input(type="text" id="firstName", name="firstName")
      dl 
        dt 
          label(for="lastName") Last name: 
        dd 
          input(type="text" id="lastName" name="lastName")
      dl 
        dt 
          label(for="phoneNumber") Phone number: 
        dd 
          input(type="text" id="phoneNumber" name="phoneNumber" placeholder="###-###-####")
    
    fieldset
      input(type="submit" value="Save")
      button.cancel(formaction="/contacts" formmethod="get") Cancel